.jumbotron{
  width: 400px;
  margin: 20px auto 0 auto;
  padding: 10px;
}

.table{
  margin: 40px auto 0 auto;
}

.selecionado{
  background-color: lightgoldenrodyellow;
}
.fontBold{
  font-weight: bold;
}

.field-margin{
  margin: 10px 0;
}